.header_wrapper{
    display: flex;
    justify-content: flex-start;
}

#fa-edit{
    margin-top: -30px;
    padding: 30px;
    color: $icon-color;
}

.writecar_wrapper_edit{
    width: 50%;

    #arrow-left{
        float: left;
        margin-left: -100px;
        margin-top: 2px;
        padding: 10px;
        color: $icon-color;
    }

    #pen_times{
        margin-left: -30px;
        margin-top: 2px;
        color: $exit;
      }
    

    .cars_edit{
        width: 15vw;
        padding: 4px;
        border: 1px solid black;
        border-radius: 2px;
    }

    .cars_edit_description{
        border: 1px solid black;
        border-radius: 2px;
    }

    .edit_image_div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60vw;

    .edit_image{
        width: 18vw;
        height: auto;
        padding: 5px;
    }
    }
}


@media screen and (max-width: 750px) {


    .writecar_wrapper_edit{
        width: 90%;
   
        .cars_edit{
            width: 60%;
        }

        .cars_edit_description{
            width: 90%;
        }

        .edit_image_div{
            width: 100%;
        
            .edit_image{
                width: 90%;
            }
        }
        
        .publish-btn{
            margin-bottom: 34%;
        }

        #arrow-left{
            display: none;
        }
    }
}