.header_wrapper{
    display: flex;
    justify-content: flex-start;
}

#fa-edit{
    margin-top: -30px;
    padding: 30px;
    color: grey;
}

.writecar_wrapper_edit{
    width: 50%;

    #arrow-left{
        float: left;
        margin-left: -100px;
        margin-top: 2px;
        padding: 10px;
        color: grey;
    }

    #pen_times{
        margin-left: -30px;
        margin-top: 2px;
        color: grey;
      }
    

    .cars_edit{
        width: 15vw;
        padding: 4px;
        border: 1px solid black;
        border-radius: 2px;
    }

    .cars_edit_description{
        border: 1px solid black;
        border-radius: 2px;
    }

    .edit_image_div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60vw;

    .edit_image{
        width: 18vw;
        height: auto;
        padding: 5px;
    }
    }
}

// .writecar_wrapper_edit_inputs{
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     align-items: center;
//     flex-wrap: wrap;
//     // padding: 20px;
// }

// .manu_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;

// }

// .model_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .reg_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .dist_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .year_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .price_edit{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }


@media screen and (max-width: 750px) {


    .writecar_wrapper_edit{
        width: 90%;
   
        .cars_edit{
            width: 60%;
        }

        .cars_edit_description{
            width: 90%;
        }

        .edit_image_div{
            width: 100%;
        
            .edit_image{
                width: 90%;
            }
        }
        
        .publish-btn{
            margin-bottom: 34%;
        }

        #arrow-left{
            display: none;
        }
    }
}