.pal-logo-login{
    width: auto;
    height: 4rem;
}
.login_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem;

    .login_username{
    width: 25vw;
    border: 1px solid black;
    padding: 5px;
    }

    .login_password{
    width: 25vw;
    border: 1px solid black;
    padding: 5px;
    }

    .login_btn{
    width: 6rem;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: $background_btn;
    color: $fontColor;
    font-weight: bold;
    }
}


.login-user-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

.logout-btn{
    width: 8vw;
    height: 4vh;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: $background_btn;
    color: $fontColor;
    font-size: 13px;
    font-weight: bold;

        a{
        text-decoration: none;
        color: $fontColor;
        font-weight: bold;
        }
    }
}


@media screen and (max-width: 700px) {

    .login_container{
        .login_username{
            width: 100%;
        }

        .login_password{
            width: 100%;
        }
    }
}
