.content_container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4rem;

    #arrow-left{
      float: left;
      margin-left: -100px;
      margin-top: 2px;
      padding: 10px;
      color: grey;
    }

    .content_container_title{
      display: flex;
      justify-content: center;
    }

  img{
    width: 18vw;
    height: 18vh;
    padding: 5px;
    object-fit: cover;
  }

  #big_pen_icon{
    padding: 20px;
    color: grey;
  }

  #big_trash_icon{
    padding: 20px;
    color: grey;
  }

  h1 {
    text-align: center;
  }

  .tbl {
    a {
      text-decoration: none;
      color: black;
    }
  }
    table {
      border-collapse: collapse;
      border-spacing: 1px;
      width: 80vw;
    }
      .bot:nth-of-type(even) {
        background-color: #92a59f;
      }

      .bot:hover {
        background-color: #92a59f;
      }

      .bot {
        border: 1px solid #333;
      }

      .top {
        border: 1px solid #333;
        background-color: grey;
        color: white;
      }

      th, td {
        text-align: center;
        padding: 10px;
        width: 13%;
      }
}


  
// .tbl {
//     // overflow-x: auto;
// }





    @media screen and (max-width: 700px) {
    
      .content_container{
        width: 95vw;
        padding: 10px;
        overflow: hidden;
        
        img{
          width: 90%;
          height: 18vh;
          padding: 5px;
          object-fit: cover;

        }
      

      table{
        width:max-content;
        font-size: small;
        
        th{
          padding: 15px;
          width: 11%;
        }
        
        td{
          padding: 15px;
          width: 14%;
          // display: contents;
        }
      }

      .table_small{
        margin: auto;
        // padding: 10px;
        width: 100%;
        overflow: scroll;
      }
        
      .top{
      display: none;      
    }

      .bot{
        font-size: small;
        width: 36rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      #pen_edit {
        font-size: large;
      }

      #trash_edit {
        font-size: large;
      }
    }  
  }

  //   table, thead, tbody, th, td, tr { 
  //     display: block;
  //     margin: 0 auto;
  //     padding: 1px;
  // }
  //   }
    
  //   /* Hide table headers (but not display: none;, for accessibility) */
  //   thead tr { 
  //     position: absolute;
  //     top: -9999px;
  //     left: -9999px;
  //   }
    
  //   tr { border: 1px solid #ccc; }
    
  //   td { 
  //     /* Behave  like a "row" */
  //     border: none;
  //     border-bottom: 1px solid #eee; 
  //     position: relative;
  //     padding-left: 50%; 
  //   }
    
  //   td:before { 
  //     /* Now like a table header */
  //     position: absolute;
  //     /* Top/left values mimic padding */
  //     top: 6px;
  //     left: 6px;
  //     width: 45%; 
  //     padding-right: 10px; 
  //     white-space: nowrap;
  //   }
    
  //   #pen_edit {
  //     font-size: large;
  //   }
  //   #trash_edit {
  //     font-size: large;
  //   }

  //   .tbl {
  //     width: 100%;
  //     }
    
  //     td:nth-of-type(1):before { content: "Märke"; }
  //     td:nth-of-type(2):before { content: "Model"; }
  //     td:nth-of-type(3):before { content: "Regnummer"; }
  //     td:nth-of-type(4):before { content: "Årsmodel"; }
  //     td:nth-of-type(5):before { content: "Miltal(km)"; }
  //     td:nth-of-type(6):before { content: "Pris"; }
      