.content_container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
}

.content_container_title{
    display: flex;
    justify-content: center;
}

.content_container img{
    width: 18vw;
    height: 18vh;
    padding: 5px;
    object-fit: cover;
}

#pen_times{
    margin-left: -30px;
    margin-top: 2px;
    color: rosybrown;
}

#big_pen_icon{
    padding: 20px;
    color: grey;
}

#big_trash_icon{
    padding: 20px;
    color: grey;
}

h1 {
    text-align: center;
  }
  
.tbl {
    overflow-x: auto;
}

.tbl a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 80vw;
}
    .bot:nth-of-type(even) {
        background-color: #92a59f;
    }
      .bot:hover {
        background-color: #92a59f;
      }
      .bot {
        border: 1px solid #333;
      }
      .top {
        border: 1px solid #333;
        background-color: grey;
        color: white;
      }
      th, td {
        text-align: center;
        padding: 10px;
        width: 15%;
      }
    
    // @media screen and (max-width: 800px) {
    //   .notOnPhone {
    //     display: none;
    //   }
    // }

    @media screen and (max-width: 700px) {

      .content_container img{
        width: 90%;
        height: 18vh;
        padding: 5px;
        object-fit: cover;

    }
    
      .content_container{
        width: 100vw;
        padding: 10px;

      }

      table{
        width: auto;
        
        th{
          padding: 15px;
          width: 11%;
        }
        
        td{
          padding: 15px;
          width: 14%;
        }
      }

      .table_small{
        margin: auto;
        padding: 10px;
      }
        
      // .top{
      //   // width: 100vw;
      // }

      .bot{
        font-size: small;
      }
      #pen_edit {
        font-size: large;
      }
      #trash_edit {
        font-size: large;
      }

      
    }  

  //   table, thead, tbody, th, td, tr { 
  //     display: block;
  //     margin: 0 auto;
  //     padding: 1px;
  // }
  //   }
    
  //   /* Hide table headers (but not display: none;, for accessibility) */
  //   thead tr { 
  //     position: absolute;
  //     top: -9999px;
  //     left: -9999px;
  //   }
    
  //   tr { border: 1px solid #ccc; }
    
  //   td { 
  //     /* Behave  like a "row" */
  //     border: none;
  //     border-bottom: 1px solid #eee; 
  //     position: relative;
  //     padding-left: 50%; 
  //   }
    
  //   td:before { 
  //     /* Now like a table header */
  //     position: absolute;
  //     /* Top/left values mimic padding */
  //     top: 6px;
  //     left: 6px;
  //     width: 45%; 
  //     padding-right: 10px; 
  //     white-space: nowrap;
  //   }
    
  //   #pen_edit {
  //     font-size: large;
  //   }
  //   #trash_edit {
  //     font-size: large;
  //   }

  //   .tbl {
  //     width: 100%;
  //     }
    
  //     td:nth-of-type(1):before { content: "Märke"; }
  //     td:nth-of-type(2):before { content: "Model"; }
  //     td:nth-of-type(3):before { content: "Regnummer"; }
  //     td:nth-of-type(4):before { content: "Årsmodel"; }
  //     td:nth-of-type(5):before { content: "Miltal(km)"; }
  //     td:nth-of-type(6):before { content: "Pris"; }
      