.content_container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4rem;

    #arrow-left{
      float: left;
      margin-left: -100px;
      margin-top: 2px;
      padding: 10px;
      color: grey;
    }

    .content_container_title{
      display: flex;
      justify-content: center;
    }

  img{
    width: 18vw;
    height: 18vh;
    padding: 5px;
    object-fit: cover;
  }

  #big_pen_icon{
    padding: 20px;
    color: grey;
  }

  #big_trash_icon{
    padding: 20px;
    color: grey;
  }

  h1 {
    text-align: center;
  }

  .tbl {
    a {
      text-decoration: none;
      color: black;
    }
  }
    table {
      border-collapse: collapse;
      border-spacing: 1px;
      width: 80vw;
    }
      .bot:nth-of-type(even) {
        background-color: #92a59f;
      }

      .bot:hover {
        background-color: #92a59f;
      }

      .bot {
        border: 1px solid #333;
      }

      .top {
        border: 1px solid #333;
        background-color: grey;
        color: white;
      }

      th, td {
        text-align: center;
        padding: 10px;
        width: 13%;
      }
}

    @media screen and (max-width: 700px) {
    
      .content_container{
        width: 95vw;
        padding: 10px;
        overflow: hidden;
        
        img{
          width: 90%;
          height: 18vh;
          padding: 5px;
          object-fit: cover;
        }

      table{
        width:max-content;
        font-size: small;
        
        th{
          padding: 15px;
          width: 11%;
        }
        
        td{
          padding: 15px;
          width: 14%;
          // display: contents;
        }
      }

      .table_small{
        margin: auto;
        // padding: 10px;
        width: 100%;
        overflow: scroll;
      }
        
      .top{
      display: none;      
    }

      .bot{
        font-size: small;
        width: 36rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      #pen_edit {
        font-size: large;
      }

      #trash_edit {
        font-size: large;
      }
    }  
  }