.writecar_wrapper_form{
    width: 100%;
}

.writecar_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.writecar-input_container{
    width: 50%;
    height: 100vh;
}

.cars_write{
    width: 15vw;
    padding: 4px;
    border: 1px solid black;
    border-radius: 2px;
}

.cars_write_description{
    border: 1px solid black;
    border-radius: 2px;
}

.publish-btn{
        width: 6rem;
        height: 2rem;
        border: 1px solid grey;
        border-radius: 2px;
        background-color: grey;
        color: white;
        font-weight: bold;
}

@media screen and (max-width: 750px) {

    .writecar_wrapper{
        width: auto;

        .writecar_wrapper_inputs{
            width: 90vw;
            padding-left: 5%;
            
        }
        .cars_write{
            width: 80%;
            
            
        }

        .manu_write{
                width: 60%;
            }

        .cars_write_description{
            width: 80%;
        }
    }

}

// .writecar_wrapper_inputs{
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//     align-items: center;
//     flex-wrap: wrap;
//     // padding: 20px;
// }

// .manu_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;

// }

// .model_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .reg_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .dist_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .year_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

// .price_write{
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
// }

