@import "./editCar";
@import "./car";
@import "./login";
@import "./navbar";
@import "./tableCars";
@import "./write_car";
@import "./variable";

body{
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: $backgroundAdmin;
}

