.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#fa-edit {
  margin-top: -30px;
  padding: 30px;
  color: #6c7773;
}

.writecar_wrapper_edit {
  width: 50%;
}

.writecar_wrapper_edit #arrow-left {
  float: left;
  margin-left: -100px;
  margin-top: 2px;
  padding: 10px;
  color: #6c7773;
}

.writecar_wrapper_edit #pen_times {
  margin-left: -30px;
  margin-top: 2px;
  color: rosybrown;
}

.writecar_wrapper_edit .cars_edit {
  width: 15vw;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
}

.writecar_wrapper_edit .cars_edit_description {
  border: 1px solid black;
  border-radius: 2px;
}

.writecar_wrapper_edit .edit_image_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
}

.writecar_wrapper_edit .edit_image_div .edit_image {
  width: 18vw;
  height: auto;
  padding: 5px;
}

@media screen and (max-width: 750px) {
  .writecar_wrapper_edit {
    width: 90%;
  }
  .writecar_wrapper_edit .cars_edit {
    width: 60%;
  }
  .writecar_wrapper_edit .cars_edit_description {
    width: 90%;
  }
  .writecar_wrapper_edit .edit_image_div {
    width: 100%;
  }
  .writecar_wrapper_edit .edit_image_div .edit_image {
    width: 90%;
  }
  .writecar_wrapper_edit .publish-btn {
    margin-bottom: 34%;
  }
  .writecar_wrapper_edit #arrow-left {
    display: none;
  }
}

.car_wrapper {
  width: 60vw;
}

.car_wrapper .car_wrapper_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.1rem;
}

.car_wrapper .car_wrapper_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.car_wrapper .car_wrapper_image #pen_times {
  margin-left: -30px;
  margin-top: 2px;
  color: rosybrown;
}

.car_wrapper .car_wrapper_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-bottom: 120px;
}

@media screen and (max-width: 700px) {
  #arrow-left {
    display: none;
  }
}

.pal-logo-login {
  width: auto;
  height: 4rem;
}

.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}

.login_container .login_username {
  width: 25vw;
  border: 1px solid black;
  padding: 5px;
}

.login_container .login_password {
  width: 25vw;
  border: 1px solid black;
  padding: 5px;
}

.login_container .login_btn {
  width: 6rem;
  height: 2rem;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: grey;
  color: white;
  font-weight: bold;
}

.login-user-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login-user-text .logout-btn {
  width: 8vw;
  height: 4vh;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: grey;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.login-user-text .logout-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .login_container .login_username {
    width: 100%;
  }
  .login_container .login_password {
    width: 100%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar .pal-logo {
  width: auto;
  height: 4rem;
}

.navbar .navbar__link {
  margin: 1em;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navbar #navbar__link__btn {
  height: 2rem;
  border: 0.5px solid grey;
  border-radius: 2px;
  background-color: grey;
  letter-spacing: 0.2em;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.navbar .navbar__link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media screen and (max-width: 750px) {
  .navbar {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .login-user-text .logout-btn {
    width: 100%;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: grey;
    color: white;
    font-size: 13px;
    font-weight: bold;
  }
}

.content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 4rem;
}

.content_container #arrow-left {
  float: left;
  margin-left: -100px;
  margin-top: 2px;
  padding: 10px;
  color: #6c7773;
}

.content_container .content_container_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_container img {
  width: 18vw;
  height: 18vh;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content_container #big_pen_icon {
  padding: 20px;
  color: #6c7773;
}

.content_container #big_trash_icon {
  padding: 20px;
  color: #6c7773;
}

.content_container h1 {
  text-align: center;
}

.content_container .tbl a {
  text-decoration: none;
  color: black;
}

.content_container table {
  border-collapse: collapse;
  border-spacing: 1px;
  width: 80vw;
}

.content_container .bot:nth-of-type(even) {
  background-color: #92a59f;
}

.content_container .bot:hover {
  background-color: #92a59f;
}

.content_container .bot {
  border: 1px solid #333;
}

.content_container .top {
  border: 1px solid #333;
  background-color: grey;
  color: white;
}

.content_container th, .content_container td {
  text-align: center;
  padding: 10px;
  width: 13%;
}

@media screen and (max-width: 700px) {
  .content_container {
    width: 95vw;
    padding: 10px;
    overflow: hidden;
  }
  .content_container img {
    width: 90%;
    height: 18vh;
    padding: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content_container table {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: small;
  }
  .content_container table th {
    padding: 15px;
    width: 11%;
  }
  .content_container table td {
    padding: 15px;
    width: 14%;
  }
  .content_container .table_small {
    margin: auto;
    width: 100%;
    overflow: scroll;
  }
  .content_container .top {
    display: none;
  }
  .content_container .bot {
    font-size: small;
    width: 36rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content_container #pen_edit {
    font-size: large;
  }
  .content_container #trash_edit {
    font-size: large;
  }
}

.writecar_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.writecar_wrapper .writecar-input_container {
  width: 50%;
  height: 100vh;
}

.writecar_wrapper .writecar-input_container #arrow-left {
  float: left;
  margin-left: -100px;
  margin-top: 2px;
  padding: 10px;
  color: #6c7773;
}

.writecar_wrapper .cars_write {
  width: 15vw;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
}

.writecar_wrapper .cars_write_description {
  border: 1px solid black;
  border-radius: 2px;
}

.writecar_wrapper .publish-btn {
  width: 6rem;
  height: 2rem;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: grey;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .writecar_wrapper {
    width: auto;
  }
  .writecar_wrapper .writecar_wrapper_inputs {
    width: 90vw;
    padding-left: 5%;
  }
  .writecar_wrapper .cars_write {
    width: 80%;
  }
  .writecar_wrapper .manu_write {
    width: 60%;
  }
  .writecar_wrapper .cars_write_description {
    width: 80%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F2F2F2;
}
/*# sourceMappingURL=index.css.map */