.content_container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
}

.content_container_title{
    display: flex;
    justify-content: center;
}

.content_container img{
    width: 18vw;
    height: 18vh;
    padding: 5px;
    object-fit: cover;
}

#arrow-left{
    float: left;
    margin-left: -100px;
    margin-top: 2px;
    padding: 10px;
    color: grey;
}

#pen_times{
    margin-left: -30px;
    margin-top: 2px;
    color: rosybrown;
}

#big_pen_icon{
    padding: 20px;
    color: grey;
}

#big_trash_icon{
    padding: 20px;
    color: grey;
}

h1 {
    text-align: center;
  }
  
.tbl {
    overflow-x: auto;
}

.tbl a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 80vw;
}
    .bot:nth-of-type(even) {
        background-color: #ccc;
    }
      .bot:hover {
        background-color: #ddd;
      }
      .bot {
        border: 1px solid #333;
      }
      .top {
        border: 1px solid #333;
        background-color: green;
        color: white;
      }
      th, td {
        text-align: center;
        padding: 10px;
        width: 15%;
      }
    
    @media screen and (max-width: 800px) {
      .notOnPhone {
        display: none;
      }
    }
  